<html>

<head>
  <title>SignUp</title>
</head>

<body style = "background-color:powderblue;">
  <h1 style = "font-size:40px; color:red;">Sign Up</h1><br>

  {% if messages %}
    {% for message in messages %}
      <p class = "{{ message.tags }}" style = "color:red">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form action = "{% url 'quiz:signup' %}" method = 'POST'>
  {% csrf_token %}
  <label for = 'username'><h2 style = "font-size:20px;"> UserName: </h2></label>
    <input type = 'text' name = 'username'><br>
  <label for = 'email'><h2 style = "font-size:20px;"> Email: </h2></label>
    <input type = 'text', name = 'email'><br>
  <label for = 'password'><h2 style = "font-size:20px;"> Password: </h2></label>
    <input type = 'password', name = 'password'><br>
  <label for = 'password_re'><h2 style = "font-size:20px;"> Re-enter Password: </h2></label>
    <input type = 'password', name = 'password_re'><br>
  <input type = 'submit', value = 'submit'>
  </form>
</body>

</html>
